<%# <div class="container"> 
    <h1>Robras#projects</h1>
    <p>Find me in app/views/robras/projects.html.erb</p>
</div> %>

<%# <div class="container" > %>

<section class="container-fluid">

        <h2 class="display-3 fw-bold pt-5">
            Acerca de mi Trabajo en <br> HTML CSS JC
        </h2>
        <h3  class="my-5">
            Estos son los tres desafios, "Meet and Coffee" , "Olivia Ros" y "Viajes Chile" que mas destacaría de parte Front-End, realizados en el BootCamp Ruby on Rails.
        </h3>

        <div class="row text-center"> 

            <div class="col-md-4 mt-5">
                <div class="card">
                    <%# <img src="..." class="card-img-top" alt="..."> %>
                    <%= image_tag 'Meet and Coffee.png' , class: "imgcars" %>
                    <div class="card-body">
                        <h5 class="card-title">Meet and Coffee</h5>
                        <p class="card-text">En este desafío valide mis conocimientos de la estructura assets de un proyecto HTML.</p>
                        <%# <a href="#" class="btn btn-primary" id="coffee">Ver Meet and Coffee</a> %>
                        <%= link_to 'Ver Meet and Coffee' , '/robras/meetandcoffee' , class:"btn btn-primary" , id:"coffee" %>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mt-5">
                <div class="card">
                    <%# <img src="..." class="card-img-top" alt="..."> %>
                    <%= image_tag 'Olivia Ros.png' , class: "imgcars"  %>
                    <div class="card-body">
                        <h5 class="card-title">Olivia Ros</h5>
                        <p class="card-text">Este desafio se pensó en dar énfasis a la marca personal de una persona llamada Olivia Ros.</p>
                        <%= link_to 'Ver Olivia Ros' , '/robras/oliviaros' , class:"btn btn-primary" , id:"green" %>
                    
                    </div>
                </div>
            </div>

            <div class="col-md-4 mt-5">

                <div class="card">
                    <%# <img src="..." class="card-img-top" alt="..."> %>
                    <%= image_tag 'Viajes Chile.png' , class: "imgcars"  %>
                    <div class="card-body">
                        <h5 class="card-title">Viajes Chile</h5>
                        <p class="card-text">La agencia Viajes Chile solicita la creación de su landing page, que tenga un diseño atractivo e innovador.</p>
                        
                        <%= link_to 'ver Viajes Chile' , '/robras/viajeschile', class: "btn btn-primary" , id:"black" %>
                    </div>
                </div>

            </div>
        
        
        </div>

</section>



<%# </div> %>


